name: Maven CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5.0.0
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: 11
        distribution: temurin
    - name: Build with Maven
      run: mvn clean install site
